<footer>
	<a
		href="https://gitlab.com/BrettEastman/bretteastmandeveloper"
		rel="noreferrer"
		target="_blank"
		class="text-xs p-2 text-peach hover:text-greyPeach">View source code</a
	>
	<div
		class="bg-primary10 border-t border-solid border-blueGrey flex justify-end gap-4 sm:pb-12 sm:gap-8"
	>
		<p>
			<a
				href="https://github.com/BrettEastman"
				rel="noreferrer"
				target="_blank"
				class="text-peach hover:text-greyPeach"
				>GitHub
			</a>
		</p>
		<p>
			<a
				href="https://www.linkedin.com/in/brett-austin-eastman/"
				rel="noreferrer"
				target="_blank"
				class="text-peach hover:text-greyPeach"
				>LinkedIn
			</a>
		</p>
	</div>
</footer>
