@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

:root {
	--primary10: '#0D0E0B';
	--primary20: #2b2b2b;
	--primary30: #696969;
	--primary40: #848484;
	--primary50: #a0a0a0;
	--primary60: #b7b8b6;
	--primary70: #c9cac8;
	--primary80: #eeeeee;
	--primary90: #fcfcfc;
	--primary100: #ffffff;
	--pear: #d6bb7d;
	--peach: #e59d5e;
	--peachGrey: #dba784;
	--greyPeach: #d3b4a0;
	--blueRedGrey: #b9b1bc;
	--blueGrey: #b0afc4;
	--warning: #b3261e;
	--warningHover: #a31f19;
}

* {
	font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.noto {
	font-family: 'Noto Sans', sans-serif;
	color: '#A0A0A0';
}

#logo {
	position: relative;
	top: 10%;
	left: 0%;
	animation: fill 0.8s ease forwards 2.3s;
}

#logo path:nth-child(1) {
	stroke-dasharray: 550px;
	stroke-dashoffset: 550px;
	animation: line-anim 2s ease forwards;
}
#logo path:nth-child(2) {
	stroke-dasharray: 550px;
	stroke-dashoffset: 550px;
	animation: line-anim 2s ease forwards 0.1s;
}
#logo path:nth-child(3) {
	stroke-dasharray: 700px;
	stroke-dashoffset: 700px;
	animation: line-anim 2s ease forwards 0.3s;
}
#logo path:nth-child(4) {
	stroke-dasharray: 550px;
	stroke-dashoffset: 550px;
	animation: line-anim 2s ease forwards 0.5s;
}
#logo path:nth-child(5) {
	stroke-dasharray: 550px;
	stroke-dashoffset: 550px;
	animation: line-anim 2s ease forwards 0.7s;
}
#logo path:nth-child(6) {
	stroke-dasharray: 550px;
	stroke-dashoffset: 550px;
	animation: line-anim 2s ease forwards 0.9s;
}
#logo path:nth-child(7) {
	stroke-dasharray: 550px;
	stroke-dashoffset: 550px;
	animation: line-anim 2s ease forwards 1.1s;
}
#logo path:nth-child(8) {
	stroke-dasharray: 550px;
	stroke-dashoffset: 550px;
	animation: line-anim 2s ease forwards 1.3s;
}
#logo path:nth-child(9) {
	stroke-dasharray: 550px;
	stroke-dashoffset: 550px;
	animation: line-anim 2s ease forwards 1.5s;
}
#logo path:nth-child(10) {
	stroke-dasharray: 550px;
	stroke-dashoffset: 550px;
	animation: line-anim 2s ease forwards 1.7s;
}
#logo path:nth-child(11) {
	stroke-dasharray: 550px;
	stroke-dashoffset: 550px;
	animation: line-anim 2s ease forwards 1.9s;
}
#logo path:nth-child(12) {
	stroke-dasharray: 550px;
	stroke-dashoffset: 550px;
	animation: line-anim 2s ease forwards 2s;
}

@keyframes line-anim {
	to {
		stroke-dashoffset: 0;
	}
}
@keyframes fill {
	from {
		fill: transparent;
	}
	to {
		fill: var(--primary100);
	}
}
